@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Itim&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

a{
    color:white;
    font-family:"Itim";
    font-size:20px;
    display:inline-block;
    background-color: rgb(0, 0, 0);
    border-radius: 3cm;
    width: 50px;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

h1{
    font-family: "Alfa Slab One";
    font-weight: 200;
    color:white;
    position:relative;
    left:550px;
}
body{
    background: rgb(245, 239, 227);
}

.welcome{
   font-family: "Alfa Slab One";
   font-weight: 200;
   padding:5% 10%;
   display:flex;
   align-items: center;
   flex-direction:column;

}
.botelladeagua{
    display: flex;
    
}

.main_header, .main_footer{
    display: flex ;
    background-color: rgb(202, 165, 125);
    padding: 15px 50px;
    margin:0px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;

}
article{
    background-color:  rgb(230, 204, 169);
    padding: 25px;
    border-radius: 20px;
    margin:20px;
    font-family: "Itim";
    color:white;
    display:flex;
    
}
p{
    font-size: 20px;
}

img{
    width: 400px;
    height:300px;
    display:flex;
}
.special_img{
    width: 200px;
    height:200px;
    display:inline;
}


.header_welcome{
    display: flex; 
    align-self: flex-start;
}
.capi_img{
    width: 121px;
    height:84px;
    align-self: flex-end;
    justify-self: flex-end;
}
.special_footer{
    align-self: flex-end;
    justify-self: flex-end;
}
div>.article_one{
    flex-direction: row;
}